[Desktop Entry]
Name=LangForge - Translation Automator
Name[pt]=LangForge - Automatizador de Traduções
Name[es]=LangForge - Automatizador de Traducciones
Name[bg]=LangForge - Автоматизатор на Преводи
Name[cs]=LangForge - Automatizátor Překladů
Name[da]=LangForge - Oversættelsesautomatisator
Name[de]=LangForge - Übersetzungsautomatisierer
Name[el]=LangForge - Αυτοματοποιητής Μεταφράσεων
Name[et]=LangForge - Tõlke Automatiseerija
Name[fi]=LangForge - Käännösautomaatti
Name[fr]=LangForge - Automatiseur de Traductions
Name[he]=LangForge - אוטומט תרגומים
Name[hr]=LangForge - Automatizator Prijevoda
Name[hu]=LangForge - Fordítás Automatizáló
Name[is]=LangForge - Þýðingarsjálfvirkni
Name[it]=LangForge - Automatizzatore Traduzioni
Name[ja]=LangForge - 翻訳オートメーター
Name[ko]=LangForge - 번역 자동화 도구
Name[nl]=LangForge - Vertaalautomatiseerder
Name[no]=LangForge - Oversettelsesautomatisator
Name[pl]=LangForge - Automatyzator Tłumaczeń
Name[ro]=LangForge - Automatizator de Traduceri
Name[ru]=LangForge - Автоматизатор Переводов
Name[sk]=LangForge - Automatizátor Prekladov
Name[sv]=LangForge - Översättningsautomatiserare
Name[tr]=LangForge - Çeviri Otomatikleştirici
Name[uk]=LangForge - Автоматизатор Перекладів
Name[zh]=LangForge - 翻译自动化工具
GenericName=Translation Automator
GenericName[pt]=Automatizador de Traduções
GenericName[es]=Automatizador de Traducciones
GenericName[de]=Übersetzungsautomatisierer
GenericName[fr]=Automatiseur de Traductions
GenericName[it]=Automatizzatore Traduzioni
GenericName[ru]=Автоматизатор Переводов
Comment=Automatic translator for gettext projects using AI APIs
Comment[pt]=Tradutor automático para projetos gettext usando APIs de IA
Comment[es]=Traductor automático para proyectos gettext usando APIs de IA
Exec=langforge %F
Icon=langforge
StartupWMClass=com.biglinux.langforge
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Translation;Utility;
Keywords=translation;gettext;po;pot;i18n;l10n;localization;internationalization;
Keywords[pt]=tradução;gettext;po;pot;i18n;l10n;localização;internacionalização;
X-GNOME-UsesNotifications=true
